.widget
  %header
    %h3 Admissions

  .chart
    .controls
      %nav
        %a{href: 'javascript:void(0);'}<
          This week
          %span.fa.fa-angle-down.fa-lg>
      %div
        %span.fa.fa-caret-up.fa-lg &nbsp;&nbsp;
        %span 27%
    .canvas-container
      %canvas#c1

  .info
    %h4 Student info:
    .info-module
      .heading
        %span Undergraduate
        %span 65%
      .progress.undergraduate
    .info-module
      .heading
        %span Graduate
        %span 30%
      .progress.graduate
    .info-module
      .heading
        %span Transfer
        %span 5%
      .progress.transfer
    %nav
      %a{href: 'javascript:void(0);'}<
        %span View other stats
        %span.fa.fa-refresh.fa-lg>